{%extends "base.html"%}
{% load crispy_forms_tags %}
{% crispy form %}
{%block title%}
New Blog
{%endblock%}

{%block header%}
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="{% url 'blog' %}">Home</a>
      <a class="blog-nav-item active" href="{% url 'blog_edit' %}">writer</a>
      <a class="blog-nav-item" href="#">About</a>


    </nav>

  </div>

</div>
    {%endblock%}

{%block content%}
<h1>hi {{request.session.user}} you can write article</h1>
<form class="form-actions" method="post" action="/add">
  {% csrf_token %}
{{form|crispy}}
<input type="submit" class="btn btn-primary btn-block" value="PUBLISH">


</form>

{%endblock%}
